<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>API Documentation</h1>
<h2>Avertissement</h2>
<p>Le code ci-présenté n'est en aucun cas sécuritaire et ne devrait pas être utilisé pour une vrai application de commerce électronique.</p>
<div>
    <h2>Fonctionnement</h2>
    <p>Le serveur est conçu pour fonctionner de façon indépendante de tout client, selon l'architecture REST.</p>
    <br>
    Le serveur est programmé avec `Node.js` et le framework `express.js`. Pour le lancer, il faut d'abord récupérer les modules de nodes avec la commande à partir du dossier racine:
    <br/>
    <b>npm install</b>
    <br/>
    Puis, le serveur se lance avec la commande:
    <br/>
    <b>npm start</b>
    <br/>
    <p>La base de données est une base SQLite qui se présente sous forme de fichier, il n'est donc pas nécessaire de démarrer de BDD pour qu'elle fonctionne.</p>
</div>

<div>
    <h2>Les URIs du client sémantique</h2>

    <div>
        <h3>Requêtes supportées :</h3>
        <p>Toutes les URIs du tableau ci-dessous supportent le HTML et le RDF.</p>
        <p>Conformément aux consignes, les requêtes sur ces URIs doivent comporter la clé "<b>Accept</b>" dans leur header avec la valeur "<b>text/html</b>" ou "<b>application/rdf+xml</b>".<br/></p>
        <p>La réponse de ce serveur express aura quand à elle la clé "Content-Type" dans son header avec les mêmes valeurs "text/html" ou "application/rdf+xml"</p>
    </div>

    <div>
        <h3>Liste des URIs disponibles :</h3>
        <table>
            <thead>
            <tr>
                <th>URI</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a href="http://localhost:3000/data">http://localhost:3000/data</a></td>
                <td>Page explicitant comment utiliser notre API</td>
            </tr>
            <tr>
                <td><a href="http://localhost:3000/data/horaire">http://localhost:3000/data/horaire</a></td>
                <td>Tableau contenant l'horaire des parties</td>
            </tr>
            <tr>
                <td> http://localhost:3000/data/horaire/:id</td>
                <td>Page contenant l'horaire de la partie à l'id spécifié</td>
            </tr>
            <tr>
                <td><a href="http://localhost:3000/data/partie">http://localhost:3000/data/partie</a></td>
                <td>Tableau contenant la liste des partie</td>
            </tr>
            <tr>
                <td>http://localhost:3000/data/partie/:id</td>
                <td>Page contenant les informations d'une partie à l'id spécifié</td>
            </tr>
            <tr>
                <td><a href="http://localhost:3000/data/joueur">http://localhost:3000/data/joueur</a></td>
                <td>Tableau contenant la liste des joueurs</td>
            </tr>
            <tr>
                <td>http://localhost:3000/data/joueur/:id</td>
                <td>Page contenant les informations d'un joueur</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <h3>Exemples de requêtes :</h3>
        <p>Afin de tester, la BDD comporte les identifiants suivants : </p>
         - id_partie : 83<br/>
         - id_joueur : 1 ou 2<br/>
        <p>On peut donc envoyer une requête sur http://localhost:3000/data/horaire/83 ou http://localhost:3000/data/joueur/1</p>
        <p>Comme expliqué ci-dessus, ces requêtes devront posséder un header avec la clé "<b>Accept</b>" et la valeur "<b>text/html</b>" ou "<b>application/rdf+xml</b>".
    </div>

</div>
</body>
</html>