
:root {
    --primary: #7D9309;
    --secondary: #1C1C19;
    --tiertary: #CBD90A;
}

.pariDiv {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 30px;
    justify-content: center;
}

.pariTable {
    border-radius: 25px;
    border: 2px solid #73AD21;
    font-weight: bolder;
}

.joueursParis {
    background-color: rgb(134, 170, 2);
    color: black;
}

.bold {
    font-weight: bold;
}

.list-paris {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.titreParis {
    margin-top: 50px;
    margin-bottom: 50px;
}

.unclickable {
    pointer-events: none;
}

.listParties {
    display: flex;
    justify-content: center;
}

.listPartieRowItem {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.listPartieRow {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.linkPartieDansListe:hover {
    background-color: #EEEEEE;
}

.lienVersPartie:hover {
    text-decoration: none;
}
